body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Шапка сайта */

.main-header {
  background-color: rgb(243, 247, 248);
  margin-bottom: 60px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Верхний блок шапки сайта */

.header-top {
  line-height: 18px;
  background-color: #293449;
  width: 100%;
  height: 42px;
}

.header-top .container {
  display: flex;
  flex-wrap: wrap;
}

.header-top a {
  color: inherit;
}

/*.header-top-right-side {
  margin-left: auto;
}*/

.main-header-logo {
  width: 220px;
  height: 47px;
}

.search input {
  background-color: transparent;
  border: none;
}

.search:hover,
.search:focus {
  background-color: #212a3a;
}

/*Эффект с исчезновением слова Поиск доделаю, когда буду знать как*/
.search:active{
  background-color: #ffffff;
}

.header-favorite:hover,
.header-favorite:focus,
.header-cart:hover,
.header-cart:focus {
  background-color: #212a3a;
}

.header-favorite:active,
.header-cart:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header-order {
  background-color: #63a63e;
}

.header-order:hover,
.header-order:focus {
  background-color: #5fbb2d;
}

.header-order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}

.header-top-right-side {
  margin-left: auto;
}


/* Средний блок шапки сайта */

.header-middle {
  width: 940px;
  min-height: 160px;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  margin-left: 52px;
  margin-right: auto;
}

.contacts {
  margin-left: 0px;
  margin-right: auto;
}

.contacts .phone-number {
  position: relative;
}

.contacts .phone-number::before {
  position: absolute;
  content: "";
  left: 13px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contacts .phone-number a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  padding: 8px 49px 8px 71px;
  border: 3px solid #ffffff;
}

.contacts .adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.user-name {
  position: relative;
}

.user-name::before {
  content: "";
  position: absolute;
  left: 13px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.35;

}

.user-name::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 2px;
  width: 21px;
  height: 20px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.35;
}

.user-name:hover::before,
.user-name:hover::after,
.user-name:focus::before,
.user-name:focus::after {
  opacity: 1;
}

.user-name:active::before,
.user-name:active::after {
  opacity: 0.35;
}

.user-name a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding: 11px 69px 11px 47px;

}

.user-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-catalog {
  display: flex;
  flex-wrap: wrap;
  margin-left: -22px;

}

.my-orders {
  position: relative;
}

.my-orders a {
  margin-right: 32px;
}

.my-orders::after {
  position: absolute;
  content: "";
  right: 14px;
  top: 7px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}



.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding: 11px 25px;
  margin-left: 10px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .login-link-icon {
  position: relative;
}

.user-navigation .login-link-icon::before {
  position: absolute;
  content: "";
  left: 24px;
  top: 1px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-navigation .login-link-icon:hover::before,
.user-navigation .login-link-icon:focus::before {
  opacity: 1;
}

.user-navigation .login-link-icon:active::before {
  opacity: 0.3;
}

.user-navigation .login-link {
  padding-left: 48px;
}

.user-navigation-catalog a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}


.user-navigation-catalog a:hover,
.user-navigation-catalog a:focus {
  color: #ee3643;
}

.user-navigation-catalog a:active {
  color: #32425c;
  opacity: 0.3;
}

/* Навигация в шапке сайта */

.main-navigation {
  background-color: #293449;
  width: 940px;
  min-height: 55px;
  margin-bottom: 60px;
  border-bottom: 5px solid #161d29;
}

.user-navigation-catalog,
.user-navigation,
.site-navigation,
.breadcrumbs,
.producers-filter ul,
.sort ul,
.charging-type ul,
.pagination-list {
  list-style: none;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

}

.site-navigation a {
  display: block;
  color: inherit;
  padding: 19px 30px;
  vertical-align: middle;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #161d29;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.50)
}


/* Главная страница */

.main-index {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Промо блок на Главной странице */

.promo-block {
  width: 940px;
  min-height: 410px;
  margin-bottom: 53px;

}

.promo-materials {
  background-color: #ffbf47;
}

.promo-instruments {
  background-color: #3bbce3;
}

.promo-machines {
  background-color: #dc91d8;
}

.promo-discount {
  background-color: #8ed78f;
}

.promo-delivery {
  background-color: #ffc047;
}

.promo {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
}

.promo span {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.promo a {
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo a:hover,
.promo a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-upper-row,
.promo-bottom-row  {
  display: flex;
  justify-content: space-between;
}

.promo-right-side {
  order: 2;
  margin-left: 20px;

}


.button {
  font-size: 14px;
  line-height: 17px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px; /*проверить*/
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.slider-inner {
  width: 620px
  height: 266px;
}

.slide h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;

}

.slide span {
  font-size: 18px;
  line-height: 24px;
}

.slider {
  background-color: #685c53; /* На тот случай, если картинки не загрузятся*/
}

/* Раздел популярные товары на Главной странице */

h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.popular-items-head {
  width: 940px;
  min-height: 90px;
  background-color: #f9f5f0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-items-head h2 {
  color: #32425c;
  margin-left: 25px;
}

.popular-items-head .button {
  display: inline-block;
  width: 253px;
  height: 38px;
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

.catalog-index {
  list-style: none;
  width: 940px;
  min-height: 318px;
  margin: 0;
  padding: 0;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 218px;
  /*min-height: 318px;*/
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  margin-right: 20px;
}
.catalog-item .flag {
  position: absolute;
  color: black; /* временно */
  top: -1px;
  right: -1px;
  width: 60px;
  height: 59px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.catalog-item .catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .catalog-item-image {
  width: 217px;
  height: 164px;
}

.catalog-item .catalog-item-image img {
  max-width: 100%
}


.catalog-item .price {
  font-size: 17px;
  line-height: 18px;
  }

.catalog-item .old-price {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item .new-price {

  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .new-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}



/* Раздел производители */

.popular-producers-head {
  width: 940px;
  min-height: 90px;
  background-color: #f9f5f0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-producers-head h2 {
  color: #32425c;
  margin-left: 25px;
}

.popular-producers-head .button {
  display: inline-block;
  width: 253px;
  height: 38px;
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

.producers-list {
   width: 940px;
   min-height: 310px;
   list-style: none;
   margin: 0;
   padding: 0;
   margin-bottom: 65px;
   display: flex;
   flex-wrap: wrap;

}

.producer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 218px;
  height: 145px;
  border: 1px solid #eaeaea;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;

}

.producer:nth-child(4n) {
  margin-right: 0;
}
/* Раздел сервисы компании */

.services {
  width: 100%;
  background-color: #f4f7f9;
}
.services h2 {
  margin-top: 68px;
  margin-bottom: 38px;
}

.services p,
.about-company p,
.main-contacts p,
.category-info p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.services h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.services-block {
  display: flex;
}

.services-list {
  margin: 0;
  padding: 0;
  margin-top: 55px;
  margin-bottom: 100px;
  margin-right: 80px;
  list-style: none;

}

.services-list button {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  width: 240px;
  height: 60px;

}

.services-list button:hover,
.services-list button:focus {
  background-color: #293449;
}

.services-list button:active {
  color: #32425c;
  background-color: #ffffff;
  transform: translateZ(0);
}

.setvices-items {
  margin-top: 55px;
}
/* Информация о компании и контакты */

.company-info {
  width: 940px;
  min-height: 536px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.about-company {
  width: 580px;
  margin-top: 82px;
}

.about-company h2,
.about-company p {
  margin: 0;
  padding: 0;
}
.about-company h2 {
  margin-bottom: 37px;
}
.about-company p:first-of-type {
  margin-bottom: 35px;
}*/

.about-company ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-company li {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.main-contacts {


}

/* Подвал сайта*/

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top {
  width: 100%;
  min-height: 68px;
  background-color: #32425c;
}

.footer-middle {
  width: 100%;
  background-color: #32425c;
}
.footer-top ul,
.footer-middle ul {
  margin: 0;
  padding: 0;
}

.footer-bottom {
  width: 100%;
  min-height: 107px;
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
}

.footer-nav-white {
  list-style: none;
}

.footer-nav-white a,
.footer-middle p,
.footer-middle a {
  font-size: 18px;
  line-height: 24px;
  color: inherit;
}

.footer-nav-white a:hover,
.footer-nav-white a:focus {
  text-decoration: underline;
}

.footer-nav-white a:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.footer-nav-yellow {
  list-style: none;
}

.footer-nav-yellow a {
  color: #ffda96;
}

.footer-nav-yellow a:hover,
.footer-nav-yellow a:focus {
  text-decoration: underline;
}

.footer-nav-yellow a:active {
  text-decoration: none;
  color: #ffda96;
  opacity: 0.5;
}

.footer-email,
.footer-developer {
  color: #ffda96;
}

.footer-email:hover,
.footer-email:focus,
.footer-developer:hover,
.footer-developer:focus {
  text-decoration: underline;
}

.footer-email:active,
.footer-developer:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-social a {
  background-color: #212a3a;
  border-radius: 50%;
  color: inherit;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
  background-color: #ee3643;
}


/*Модальные окна*/

.modal-feedback {
  border-top: 7px solid #ff5357;
}

.feedback-form label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.feedback-form input,
.feedback-form textarea {
  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.modal-add-to-cart {
  border-top: 7px solid #ff5357;
}

.modal-add-to-cart p {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.modal-buttons {
  background-color: #f1f1f1;
}

.modal-buttons button {
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
}

/* Страница Каталог */

/* Хлебные Крошки */

.breadcrumbs a,
.breadcrumb-current,
.pagination-list a {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.breadcrumbs li:last-child {
  padding-top: 1px;
}


.breadcrumb-item {
  position: relative;
  margin-right: 40px;
}

.breadcrumb-item::after {
  position: absolute;
  content: "";
  right: -24px;
  top: 3px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumb-main {
  padding-right: 15px;
}

.breadcrumb-main::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 12px;
  top: 2px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}







/* Заголовок Каталога */

.h2-catalog {
  color: #32425c;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

/* Раздел фильтров и сотрировки */

.filters {
  width: 220px;
  margin-right: 20px;
}

.filters,
.sort,
.sort a,
.filter-button {
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.filters h3,
.sort p,
.sort a,
.filter-button {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.min-value input,
.max-value input {
  font-size: 17px;
  line-height: 18px;
  background-color: #f7f3ec;
  border: none;

}

.price-legend,
.producers-legend,
.charging-legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter-option label {
  font-size: 15px;
  line-height: 20px;
}

.red a {
  color: #ee3643;
}

.underline a {
  border-bottom: 1px dotted #ee3643;
  color: rgba(0, 0, 0, 0.3);
}

.red a:hover,
.red a:focus,
.underline a:hover,
.underline a:focus {
  color: #000000;
  border-bottom: 1px dotted #ee3643;
}

.red a:active,
.underline a:active {
  color: #ee3643;
  border: none;
}

/* Каталог товаров на странице Каталог */

.catalog-list {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  margin:20px auto;
  font-size: 0;
  margin-bottom: 52px;
}

.catalog-list .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-catalog {
  width: 700px;
}
.catalog-columns {
  display: flex;
  flex-direction: space-around;
  margin-bottom: 32px;
}

.hidden {
  display: none;
}

/* Клавиши Купить и В Закладки на карточке товара в каталоге */


.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border-radius: 3px;
  cursor: pointer;
}

.buy {
  color: inherit;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom: 3px solid #367315;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom: 3px solid #367315;
}

.buy:active {
  background-color: #518534;
  border: 3px solid #518534;
}

.bookmark {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.bookmark:hover,
.bookmark:focus {
  border: 3px solid #32425c;
}

.bookmark:active {
  opacity: 0.3;
}

.catalog-item .actions{
    display: none;
}
.catalog-item:hover .actions{
    display: block;
}

/* Номера страниц*/

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.pagination-item a {
  padding: 9px 15px;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.following-page a {
  padding: 9px 30px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active{
  border: 1px solid #ee3744;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}


/*Информация о категории*/

.category-info {
  background-color: #f2f6f8;
}
.category-info h2,
.category-info p {
  margin: 0;
  padding: 0;
}

.category-info h2 {
  padding-top: 63px;
  padding-bottom: 30px;
}

.category-info p {
  padding-bottom: 73px;
}







