body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Шапка сайта */

.main-header {
  background-color: rgb(243, 247, 248);
  margin-bottom: px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Верхний блок шапки сайта */

.header-top {
  line-height: 18px;
  background-color: #293449;
  width: 100%;
  height: 42px;
}

.header-top .container {
  display: flex;
  justify-content: space-between;
}

.logo-search-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header-top a {
  padding: 0;
  margin: 0;
  color: inherit;
}

.main-header-logo p {
  display: block;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  padding-top: 11px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  width: 220px;
  height: 31px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.search {
  height: 42px;
}

.search input {
  width: 267px;
  height: 42px;
  padding-left: 47px;
  background-color: transparent;
  border: none;
}

.search input:focus {
  background-color:  #ffffff;
}

.search input::placeholder {
  font: inherit;
  color: #ffffff;
}

.search input:focus::placeholder {
  font: inherit;
  color: #000000;
}

.search label {
  position: relative;
}

.search label::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 17px;
  width: 18px;
  height: 18px;
  background-image: url("../img/icon-search-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.search:hover {
  background-color: #212a3a;
}

.search label:hover::before {
  opacity: 1;
}


.search label:active::before,
.search label:focus::before {
  background-image: url("../img/icon-search-red.svg");
}

.search:active,
.search:focus {
  background-color: #ffffff;
}

.header-top-right-side {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
}

.header-favorite:hover,
.header-favorite:focus,
.header-cart:hover,
.header-cart:focus {
  background-color: #212a3a;
}

.header-favorite:active,
.header-cart:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}


.header-top-right-side .header-favorite,
.header-top-right-side .header-cart {
  display: block;
  color: #ffffff;
  padding-left: 42px;
  padding-right: 33px;
  padding-top: 12px;
  padding-bottom: 12px;
  vertical-align: middle;
  background-repeat: no-repeat;

}

.header-favorite {
  background-image: url("../img/icon-bookmark1-grey.svg");
  background-position: 15px 12px;
}

.header-cart {
  background-image: url("../img/icon-cart-grey.svg");
  background-position: 13px 12px;
}

.header-favorite:hover,
.header-favorite:focus {
  background-image: url("../img/icon-bookmark1.svg");
}

.header-cart:hover,
.header-cart:focus {
  background-image: url("../img/icon-cart-white.svg");
}

.header-favorite:active,
.header-cart:active {
  opacity: 0.3;
}

/* Клавиша Корзина на сранице Каталога */

.header-top-right-side .header-cart-catalog {
  background-color: #ee3643;
  padding-left: 49px;
  padding-right: 26px;
  background-image: url("../img/icon-cart-catalog.svg");
  background-position: 18px 12px;
}

.header-top-right-side .header-favorite-catalog {
  padding-left: 40px;
  padding-right: 28px;
  background-position: 13px 12px;
}

.header-top-right-side .header-order {
  display: block;
  padding-left: 22px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  vertical-align: middle;
  background-color: #63a63e;
}

.header-order:hover,
.header-order:focus {
  background-color: #5fbb2d;
}

.header-order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}

/* Средний блок шапки сайта */

.header-middle {
  width: 940px;
  min-height: 158px;
  display: flex;
}

h1 {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  margin-left: 52px;
  margin-right: auto;
  margin-top: 49px;
}

.contacts {
  margin-left: 13px;
  margin-right: auto;
  margin-top: 41px;
}

.contacts-catalog {
  margin-left: 21px;
}

.contacts .phone-number {
  position: relative;
}

.contacts .phone-number::before {
  position: absolute;
  content: "";
  left: 13px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contacts .phone-number a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  padding: 8px 49px 8px 71px;
  border: 3px solid #ffffff;
}

.contacts .adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-align: center;
}

.user-name {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  min-height: 45px;
  position: relative;
}

.user-name::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 13px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.35;
}

.user-exit a {
  background-color: #ffffff;
  padding-right: 10px;
}

.user-exit::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 14px;
  width: 21px;
  height: 20px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.35;
}

.user-name:hover::before,
.user-exit:hover::after,
.user-name:focus::before,
.user-exit:focus::after {
  opacity: 1;
}

.user-name:active::before,
.user-exit:active::after {
  opacity: 0.35;
}

.user-name a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding-left: 47px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 10px;
}

.user-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-catalog {
  display: flex;
  flex-wrap: wrap;
  margin-left: -22px;
}

.my-orders {
  position: relative;
}

.my-orders a {
  margin-right: 32px;
}

.my-orders::after {
  position: absolute;
  content: "";
  right: 14px;
  top: 7px;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 57px;
  padding: 0;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding: 11px 25px;
  margin-left: 10px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .login-link-icon {
  position: relative;
}

.user-navigation .login-link-icon a::before {
  position: absolute;
  content: "";
  left: 25px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-navigation .login-link-icon a:hover::before,
.user-navigation .login-link-icon a:focus::before {
  opacity: 1;
}

.user-navigation .login-link-icon a:active::before {
  opacity: 0.3;
}

.user-navigation .login-link {
  padding-left: 48px;
}

.authorized-user-name {
  margin-top: 30px;
}

.user-navigation-catalog {
  margin: 0;
  padding: 0;
  margin-left: 18px;
  margin-top: -10px;
}

.user-navigation-catalog a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-navigation-catalog a:hover,
.user-navigation-catalog a:focus {
  color: #ee3643;
}

.user-navigation-catalog a:active {
  color: #32425c;
  opacity: 0.3;
}

/* Навигация в шапке сайта */

.main-navigation {
  background-color: #293449;
  min-height: 55px;
  margin-bottom: 60px;
  border-bottom: 4px solid #161d29;
}

.user-navigation-catalog,
.user-navigation,
.site-navigation,
.breadcrumbs,
.producers-filter ul,
.sort ul,
.charging-type ul,
.pagination-list {
  list-style: none;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 940px;

}

.site-navigation a {
  display: block;
  color: inherit;
  padding: 19px 30px;
  vertical-align: middle;
}

.site-navigation li:first-of-type a {
  padding-left: 52px;
}

.site-navigation li:nth-of-type(2) a {
  padding-left: 33px;
}

.site-navigation li:nth-of-type(6) a {
  padding-left: 32px;
}

.site-navigation li:last-of-type a {
  padding-right: 55px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #161d29;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.50)
}

/* Главная страница */

.main-index {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Промо блок на Главной странице */

.promo-block {
  width: 940px;
  min-height: 410px;
  margin-bottom: 34px;
}

.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
}

.promo span {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-left: 22px;
  margin-top: 22px;
  margin-bottom: 12px;
}

.promo a {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  width: 135px;
  min-height: 28px;
  text-align: center;
  padding-top: 10px;
  margin-left: 24px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.promo a:hover,
.promo a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-upper-row,
.promo-bottom-row  {
  display: flex;
  justify-content: space-between;
}

.promo-right-side {
  order: 2;
  margin-left: 20px;
}

.promo-materials {
  background-color: #ffbf47;
}

.promo-materials::before {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  width: 60px;
  height: 59px;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-materials::after {
  position: absolute;
  content: "";
  top: 31px;
  right: 40px;
  width: 47px;
  height: 70px;
  background-image: url("../img/icon-materials.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-instruments {
  background-color: #3bbce3;
}

.promo-instruments::after {
  position: absolute;
  content: "";
  top: 33px;
  right: 26px;
  width: 77px;
  height: 63px;
  background-image: url("../img/icon-instruments.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-machines {
  background-color: #dc91d8;
}

.promo-machines::after {
  position: absolute;
  content: "";
  top: 31px;
  right: 29px;
  width: 80px;
  height: 64px;
  background-image: url("../img/icon-machine.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-discount {
  background-color: #8ed78f;
}

.promo-discount::after {
  position: absolute;
  content: "";
  top: 26px;
  right: 43px;
  width: 61px;
  height: 75px;
  background-image: url("../img/icon-discount.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-delivery {
  background-color: #ffc047;
}

.promo-delivery::after {
  position: absolute;
  content: "";
  top: 32px;
  right: 29px;
  width: 80px;
  height: 65px;
  background-image: url("../img/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;
  height: 38px;
  background-color: #ee3643;
  border-radius: 3px; /*проверить*/
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.slider-inner {
  overflow: hidden;
}

.sliders-sliders {
 width: 200%;
 transition: transform 0.8s ease;
}

.slide {
  position: relative;
  float: left;
  width: 620px;
  height: 266px;
  background-color: #685c53;
}

.icon-slider-left,
.icon-slider-right {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #ffffff;
  z-index: 50;
}

.icon-slider-left {
  bottom: 36px;
  left: 295px;
}

.icon-slider-right {
  bottom: 36px;
  left: 315px;
}

.slide-text {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 10;
}

.open-catalog {
  position: absolute;
  bottom: 22px;
  left: 26px;
  z-index: 10;
}

.slide-text h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.slide-text span {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.slide .button {
  width: 195px;
}

.slide-one .icon-slider-left {
  background-color: #ee3643;
}

.slide-two .icon-slider-right {
  background-color: #ee3643;
}

.slider-control {
  position: relative;
  cursor: pointer;
}

.slider-control .slider-control-left {
  position: absolute;
  top: 114px;
  left: 25px;
  width: 25px;
  height: 42px;
  background-image: url("../img/icon-slider-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 30;
}

.slider-control .slider-control-right {
  position: absolute;
  top: 114px;
  right: -603px;
  width: 25px;
  height: 42px;
  background-image: url("../img/icon-slider-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 40;
}

input[id="btn-1"]:checked ~ .sliders-sliders {
  transform: translate(0);
}

input[id="btn-1"]:checked ~ .sliders-sliders {
  transform: translate(-620px);
}

/* Раздел популярные товары на Главной странице */

h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.popular-items-head {
  width: 940px;
  min-height: 89px;
  background-color: #f9f5f0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-items-head h2 {
  display: flex;
  flex-wrap: wrap;
  width: 610px;
  color: #32425c;
  margin-left: 27px;
}

.popular-items-head .button {
  width: 253px;
  margin: 0;
  padding: 0;
  margin-right: 24px;
  margin-top: -3px;
}

.catalog-index {
  list-style: none;
  width: 940px;
  min-height: 318px;
  margin: 0;
  padding: 0;
  margin-bottom: 1px;
  display: flex;
  flex-wrap: wrap;
}

.catalog-index .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 218px;
  min-height: 315px;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 0 10px 25px 0 transparent;
}

.catalog-index .catalog-item:nth-child(4n) {
  margin-right: 0;
}

 .catalog-item-new::before {
  position: absolute;
  content: "";
  top: -1px;
  right: -1px;
  width: 60px;
  height: 59px;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 20;
}

.catalog-item .catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 14px;
}

.catalog-item .catalog-item-image {
  width: 218px;
  height: 164px;
}


.catalog-item .price {
  font-size: 17px;
  line-height: 18px;
  }

.catalog-item .old-price {
  min-height: 20px;
  margin-top: 11px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item .new-price {
  position: relative;
  width: 75px;
  margin: 20px auto;
  margin-top: auto;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .new-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.catalog-item .actions{
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

/* Раздел производители */

.popular-producers-head {
  width: 940px;
  min-height: 90px;
  background-color: #f9f5f0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-producers-head h2 {
  display: flex;
  flex-wrap: wrap;
  width: 610px;
  color: #32425c;
  margin-left: 25px;
}

.popular-producers-head .button {
  width: 253px;
  margin: 0;
  padding: 0;
  margin-right: 24px;
  margin-top: -3px;
}

.producers-list {
  width: 940px;
  min-height: 310px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 65px;
  display: flex;
  flex-wrap: wrap;
}

.producer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 218px;
  height: 142px;
  border: 1px solid #eaeaea;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
}

.producer:hover,
.producer:focus {
  border-color: #ffffff;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.producer:active {
   opacity: 0.3;
}

.producer:nth-child(4n) {
  margin-right: 0;
}

/* Раздел сервисы компании */

.services {
  width: 100%;
  background-color: #f4f7f9;
}

.services h2 {
  margin-top: 66px;
  margin-bottom: 26px;
}

.services p,
.about-company p,
.main-contacts p,
.category-info p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.services h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.services-block {
  display: flex;
}

.services-list {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 69px;
  margin-bottom: 100px;
  margin-right: 80px;
  list-style: none;
}

.services-list::after {
  position: absolute;
  content: "";
  top: -40px;
  right: 0;
  width: 10px;
  height: 272px;
  background-image: url("../img/shadow_for_services.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-list label {
  display: inline-block;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  padding-top: 14px;
  padding-left: 22px;
  width: 218px;
  height: 46px;
  border-bottom: 1px solid #4d637b;
  cursor: pointer;
}

.services-list label:hover,
.services-list label:focus {
  background-color: #293449;
}

.services-list label:active,
.services-list label:checked {
  color: #32425c;
  background-color: #ffffff;
  border-bottom-color: #ffffff;
}

.services-items {
  margin-top: 55px;
}

.service-item h3 {
  margin-top: 13px;
  margin-bottom: 24px;
}

.services-items .service-delivery {
  display: none;
  min-height: 280px;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 153px 26px;
}

.service-delivery p {
  padding-right: 340px;
}

.services-items .service-guarantee {
  display: none;
  min-height: 280px;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 223px 0;
}

.service-guarantee p {
  padding-right: 240px;
}

.services-items .service-credit {
  display: none;
  min-height: 280px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 152px 0;
}

.service-credit p {
  padding-right: 340px;
}

.service-credit .button {
  margin-top: 25px;
  width: 195px;
}

.service-item {
  display: none;
}

input[id="credit-radio"]:checked ~ .service-credit,
input[id="guarantee-radio"]:checked ~ .service-guarantee,
input[id="delivery-radio"]:checked ~ .service-delivery {
  display: block;
}


/* Информация о компании и контакты */

.company-info {
  width: 940px;
  min-height: 536px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-company {
  width: 520px;
}

.main-contacts {
  width: 300px;
}

.about-company p,
.company-partners p,
.about-company h2,
.main-contacts p,
.main-contacts h2,
.main-contacts a {
  margin: 0;
  padding: 0;
}

.about-company h2 {
  padding-top: 80px;
  margin-bottom: 26px;
}

.about-company p:first-of-type {
  margin-bottom: 24px;
}

.company-partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 22px;
  margin-bottom: 36px;
}

.company-partners-list li {
  position: relative;
  font-size: 18px;
  line-height: 20px;
  padding-left: 36px;
  margin-bottom: 20px;
  color: #000000;
}

.company-partners-list li:nth-child(2) {
  margin-bottom: 19px;
}

.company-partners-list li::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.about-company .button {
  width: 220px;
  margin-bottom: 86px;
}

.main-contacts h2 {
  padding-top: 80px;
  margin-bottom: 26px;
}

.contacts-button-map img {
  margin-top: 30px;
  margin-bottom: 37px;
}

.main-contacts .button {
  display: flex;
  align-items: center;
  margin-bottom: 86px;
}

/* Подвал сайта*/

.main-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.footer-top {
  width: 100%;
  min-height: 68px;
  background-color: #32425c;
}

.footer-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  width: 220px;
  height: 68px;
}

.footer-nav-white {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 548px;
}

.footer-nav-white a,
.footer-middle p,
.footer-middle a {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
}
.footer-nav-white a {
  display: block;
  margin-top: 27px;
  vertical-align: middle;
}

.footer-middle {
  padding-top: 24px;
  padding-bottom: 50px;
  width: 100%;
  background-color: #32425c;
}

.footer-top ul,
.footer-middle ul {
  margin: 0;
  padding: 0;
}

.footer-middle .container {
  display: flex;
  justify-content: space-between;
}

.footer-nav-yellow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 528px;
}

.footer-nav-yellow a {
  display: block;
  vertical-align: middle;
}

.footer-nav-white {
  list-style: none;
}

.footer-nav-white a:hover,
.footer-nav-white a:focus {
  text-decoration: underline;
}

.footer-nav-white a:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.footer-nav-yellow {
  list-style: none;
}

.footer-nav-yellow a {
  color: #ffda96;
}

.footer-nav-yellow a:hover,
.footer-nav-yellow a:focus {
  text-decoration: underline;
}

.footer-nav-yellow a:active {
  text-decoration: none;
  color: #ffda96;
  opacity: 0.5;
}

.footer-bottom {
  width: 100%;
  min-height: 107px;
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom .container {
  display: flex;
  min-height: 107px;
  align-items: center;
}

.footer-bottom p {
  margin: 0;
  padding: 0;
}

.footer-feedback {
  margin-right: 52px;
}

.footer-email,
.footer-developer {
  color: #ffda96;
}

.footer-email:hover,
.footer-email:focus,
.footer-developer:hover,
.footer-developer:focus {
  text-decoration: underline;
}

.footer-email:active,
.footer-developer:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-social {
  width: 135px;
  text-align: center;
  margin-left: 163px;
  margin-right: 117px;

}
.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 131px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
  color: inherit;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
  background-color: #ee3643;
}

/*Модальные окна*/

.modal {
  position: fixed;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-feedback {
  display: none;
  top: 120px;
  left: 50%;
  margin-left: -310px;
  width: 620px;
  border-top: 7px solid #ff5357;
  background-color: #ffffff;
}

.modal-feedback p,
.modal-feedback label,
.modal-feedback input,
.modal-feedback form {
  margin: 0;
  padding: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-feedback .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 460px;
}

.name-email {
  display: flex;
  margin-top: 45px;
  margin-bottom: 20px;
}

.feedback-form label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.feedback-form input[type="text"] {
  margin-right: 20px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  width: 220px;
  height: 38px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  margin-top: 10px;
  padding-left: 13px;
  box-sizing: border-box;
  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.feedback-form textarea {
  width: 460px;
  height: 114px;
  padding-top: 10px;
  margin-bottom: 37px;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.modal-button {
  background-color: #f4f4f4;
}

.modal-button .button {
  margin-top: 38px;
  margin-bottom: 38px;
  border: none;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  z-index: 100;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -2px;
  width: 19px;
  height: 3px;
  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-map {
  display: none;
  top: 120px;
  left: 50%;
  margin-left: -470px;
  width: 940px;
  height: 446px;
  background-color: #ffffff;
  z-index: 60;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-add-to-cart {
  display: none;
  top: 120px;
  left: 50%;
  margin-left: -310px;
  width: 620px;
  border-top: 7px solid #ff5357;
  background-color: #ffffff;
}

.modal-add-to-cart-text {
  position: relative;
}

.modal-add-to-cart-text::before {
  position: absolute;
  content: "";
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/form-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 70;
}

.modal-add-to-cart p,
.modal-add-to-cart a {
  margin: 0;
  padding: 0;
}

.modal-add-to-cart p {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  padding-top: 67px;
  padding-bottom: 67px;
  padding-left: 179px;
}

.modal-buttons {
  background-color: #f1f1f1;
}

.modal-buttons .container {
  display: flex;
  justify-content: space-between;
  width: 460px;
}

.modal-buttons .button {
  width: 220px;
  margin-top: 38px;
  margin-bottom: 38px;
}

.modal-buttons button {
  font-size: 14px;
  line-height: 18px;
  width: 220px;
  height: 38px;
  margin-top: 38px;
  margin-bottom: 38px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

/* Анимация*/

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* Страница Каталог */

.main-header-catalog {
  margin-bottom: 20px;
}

/* Хлебные Крошки */

.breadcrumbs a,
.breadcrumb-current,
.pagination-list a {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 19px;
}

.breadcrumbs li:last-child {
  padding-top: 1px;
}

.breadcrumb-item {
  position: relative;
  margin-right: 40px;
}

.breadcrumb-item::after {
  position: absolute;
  content: "";
  right: -24px;
  top: 3px;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumb-main {
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
}

/* Заголовок Каталога */

.catalog-header {
  width: 940px;
  margin-bottom: 20px;
  background-color: #f2f6f8;
}

.h2-catalog {
  color: #32425c;
  margin: 0;
  padding: 0;
  padding: 30px;
  padding-left: 29px
}

/* Раздел фильтров и сотрировки */

.filters {
  width: 220px;
  margin-right: 20px;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters fieldset:first-of-type {
  margin-bottom: 26px;
}

.filters fieldset:last-of-type {
  margin-bottom: 58px;
}

.h3-filter {
  display: flex;
  align-items: center;
  width: 220px;
  min-height: 38px;
  margin-bottom: 10px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.h3-filter h3 {
  margin: 0;
  padding: 0;
  margin-left: 19px;
}

.filters legend {
  margin-top: 12px;
  margin-bottom: 14px;
}

.filters ul {
  margin: 0;
  padding: 0;
}

.sort p,
.sort ul,
.sort a {
  margin: 0;
  padding: 0;
}

.filters,
.sort,
.sort a,
.filter-button {
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.h3-filter h3,
.sort p,
.sort a,
.filter-button {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.price-range {
  position: relative;
  width: 220px;
  height: 80px;
  margin-bottom: 9px;
  background-color: #f7f3ec;
  border-radius: 0 0 3px 3px;
}

.price-range .round-button {
  position: absolute;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.price-range .left-round-button {
  top: 30px;
  left: 20px;
  background-image: url("../img/filter-button.svg");
}

.price-range .green-line {
  position: absolute;
  top: 39px;
  left: 40px;
  width: 120px;
  height: 2px;
  background-color: #00ca74;
}

.price-range .right-round-button {
  top: 30px;
  right: 37px;
  background-image: url("../img/filter-button.svg");
}

.price-range .grey-line {
  position: absolute;
  top: 39px;
  right: 20px;
  width: 20px;
  height: 2px;
  background-color: #d7dcde;
}

.min-max-numbers {
  display: flex;
  justify-content: space-between;
}

.min-value input,
.max-value input {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 95px;
  height: 38px;
  background-color: #f7f3ec;
  border: none;
  border-radius: 2px;
}

.dash {
  align-self: center;
  width: 10px;
  height: 1px;
  background-color: #000000;
}

input[type='number'] {
  -moz-appearance:textfield;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-legend,
.producers-legend,
.charging-legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.producers-filter {
  margin-top: 10px;
}

.producers-filter .producers-legend {
  padding-top: 5px;
}

.charging-type .charging-legend {
  padding-top: 6px;
}

.producers-filter ul li:last-child {
  margin-bottom: 15px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 34px;
}

.filter-option label {
  position: relative;
  display: block;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 26px;
  height: 25px;
  background-image: url("../img/checkbox-producers-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-producers-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before {
  background-image: url("../img/checkbox-producers-off-active.svg");
}

.filter-input-checkbox:checked + label:hover::before,
.filter-input-checkbox:checked + label:focus::before {
  background-image: url("../img/checkbox-producers-on-active.svg");
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 26px;
  background-image: url("../img/radio-charge-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/radio-charge-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
  background-image: url("../img/radio-charge-off-active.svg");
}

.filter-input-radio:checked + label:hover::before,
.filter-input-radio:checked + label:focus::before {
  background-image: url("../img/radio-charge-on-active.svg");
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.3;
}

.filter-input-checkbox:disabled + label::before {
  background-image: url("../img/checkbox-producers-off-black.svg");
  opacity: 0.3;
}

.filter-input-radio:disabled + label::before {
  background-image: url("../img/radio-charge-on-black.svg");
  opacity: 0.3;
}

.filter-button {
  padding: 10px 39px 8px 38px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  cursor: pointer;
}

/* Сортировка */

.sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  min-height: 38px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.sort p {
  margin-left: 19px;
  margin-right: 100px;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  width: 355px;
}

.sort-list li {
  margin-bottom: 2px;
}

.dir-icons {
  display: flex;
  width: 60px;
}

.icon-up-dir ,
.icon-down-dir {
  display: block;
  width: 31px;
  height: 11px;
  vertical-align: middle;
  background-repeat: no-repeat;
}

 .icon-up-dir {
  background-image: url("../img/icon-up-dir-red.svg");
  background-position: 0 -1px;
}

.icon-down-dir {
  background-image: url("../img/icon-down-dir.svg");
  background-position: 1px -1px;
  opacity: 0.35;
}

.icon-up-dir:hover,
.icon-up-dir:focus {
  background-image: url("../img/icon-up-dir.svg");
}

.icon-up-dir:active {
  background-image: url("../img/icon-up-dir-red.svg");
}

.icon-down-dir:hover,
.icon-down-dir:focus {
  opacity: 1;
}

.icon-down-dir:focus {
  background-image: url("../img/icon-down-dir-red.svg");
}

.red a {
  color: #ee3643;
  margin-right: 67px;
}

.type a {
  margin-right: 66px;
}

.underline a {
  border-bottom: 1px dotted #ee3643;
  color: rgba(0, 0, 0, 0.3);
}

.red a:hover,
.red a:focus,
.underline a:hover,
.underline a:focus {
  color: #000000;
  border-bottom: 1px dotted #ee3643;
}

.red a:active,
.underline a:active {
  color: #ee3643;
  border: none;
}

/* Каталог товаров на странице Каталог */

.catalog-list {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  margin:20px auto;
  font-size: 0;
  margin-bottom: 44px;
}

.catalog-list .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-catalog {
  width: 700px;
}

.catalog-columns {
  display: flex;
  margin-bottom: 32px;
}

/* Клавиши Купить и В Закладки на карточке товара в каталоге */

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border-radius: 3px;
  cursor: pointer;
}

.buy {
  color: inherit;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom: 3px solid #367315;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom: 3px solid #367315;
}

.buy:active {
  background-color: #518534;
  border: 3px solid #518534;
}

.bookmark {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.bookmark:hover,
.bookmark:focus {
  border: 3px solid #32425c;
}

.bookmark:active {
  opacity: 0.3;
}

.catalog-item .actions{
  display: none;
}

.catalog-item:hover,
.catalog-item:focus  {
  border-color: #ffffff;
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .actions{
  display: block;
}

/* Номера страниц*/

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
}

.pagination-item a {
  padding: 10px 14px 9px 15px;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.following-page a {
  padding: 10px 31px 9px 30px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active{
  border: 1px solid #ee3744;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

/*Информация о категории*/

.category-info {
  background-color: #f2f6f8;
}

.category-info h2,
.category-info p {
  margin: 0;
  padding: 0;
}

.category-info h2 {
  padding-top: 64px;
  padding-bottom: 26px;
}

.category-info p {
  padding-bottom: 68px;
}








