body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Шапка сайта */

.main-header {
  background-color: rgb(243, 247, 248);
  margin-bottom: 60px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Верхний блок шапки сайта */

.header-top {
  line-height: 18px;
  background-color: #293449;
  width: 100%;
  height: 42px;
}

.header-top .container {
  display: flex;
}

.header-top a {
  color: inherit;
}

.header-top-right-side {
  margin-left: auto;
}
.header-top-right-side a {
  width: 150px;
}

.main-header-logo {
  width: 220px;
  height: 47px;
}

.search input {
  background-color: transparent;
  border: none;
}

.search:hover,
.search:focus {
  background-color: #212a3a;
}

/*Эффект с исчезновением слова Поиск доделаю, когда буду знать как*/
.search:active{
  background-color: #ffffff;
}

.header-favorite:hover,
.header-favorite:focus,
.header-cart:hover,
.header-cart:focus {
  background-color: #212a3a;
}

.header-favorite:active,
.header-cart:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header-order {
  background-color: #63a63e;
}

.header-order:hover,
.header-order:focus {
  background-color: #5fbb2d;
}

.header-order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}

.header-top-right-side {
  margin-left: auto;
}


/* Средний блок шапки сайта */

.header-middle {
  width: 940px;
  min-height: 160px;
  display: flex;
}

h1 {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.contacts .phone-number a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.contacts .adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-name a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation {
  margin: 0;
  padding: 0;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
  /*color: rgb(197, 197, 197);*/
}

.user-navigation-catalog a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}


.user-navigation-catalog a:hover,
.user-navigation-catalog a:focus {
  color: #ee3643;
}

.user-navigation-catalog a:active {
  color: #32425c;
  opacity: 0.3;
}

/* Навигация в шапке сайта */

.main-navigation {
  background-color: #293449;
  width: 940px;
  min-height: 60px;
  margin-bottom: 60px;
}

.user-navigation-catalog,
.user-navigation,
.site-navigation,
.breadcrumbs,
.producers-filter ul,
.sort ul,
.charging-type ul,
.pagination-list {
  list-style: none;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.site-navigation a {
  color: inherit;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #161d29;
}

.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.50)
}


/* Главная страница */

.main-index {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Промо блок на Главной странице */

.promo-block {
  width: 940px;
  min-height: 410px;
  margin-bottom: 53px;

}

.promo-materials {
  background-color: #ffbf47;
}

.promo-instruments {
  background-color: #3bbce3;
}

.promo-machines {
  background-color: #dc91d8;
}

.promo-discount {
  background-color: #8ed78f;
}

.promo-delivery {
  background-color: #ffc047;
}

.promo {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
}

.promo span {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.promo a {
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo a:hover,
.promo a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-upper-row,
.promo-bottom-row  {
  display: flex;
  justify-content: space-between;
}

.promo-right-side {
  order: 2;
  margin-left: 20px;

}


.button {
  font-size: 14px;
  line-height: 17px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 3px; /*проверить*/
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.slider-inner {
  width: 620px
  height: 266px;
}

.slide h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;

}

.slide span {
  font-size: 18px;
  line-height: 24px;
}

.slider {
  background-color: #685c53; /* На тот случай, если картинки не загрузятся*/
}

/* Раздел популярные товары на Главной странице */

h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.popular-items-head {
  width: 940px;
  min-height: 90px;
  background-color: #f9f5f0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-items-head h2 {
  color: #32425c;
  margin-left: 25px;
}

.popular-items-head .button {
  display: inline-block;
  width: 253px;
  height: 38px;
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

.catalog-index {
  list-style: none;
  width: 940px;
  min-height: 318px;
  margin: 0;
  padding: 0;
  margin-bottom: 1px;
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 220px;
  height: 318px;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  margin-right: 20px;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin: 0 20px;
  padding: 0;

}
.catalog-item p {
  margin: 0;
  padding: 0;
}

.catalog-item .price {
  font-size: 17px;
  line-height: 18px;
  }

.catalog-item .old-price {
  color: #a9a9a9;
  text-decoration: line-through;
  margin-top: 16px;
}

.catalog-item .new-price {
  background-color: #ee3643;
  margin-top: auto;
  margin-bottom: 20px;
}



/* Раздел производители */

.popular-producers-head {
  width: 940px;
  min-height: 90px;
  background-color: #f9f5f0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-producers-head h2 {
  color: #32425c;
  margin-left: 25px;
}

.popular-producers-head .button {
  display: inline-block;
  width: 253px;
  height: 38px;
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

.producers-list {
   width: 940px;
   min-height: 310px;
   list-style: none;
   margin: 0;
   padding: 0;
   margin-bottom: 65px;
   display: flex;
   flex-wrap: wrap;

}

.producer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 218px;
  height: 145px;
  border: 1px solid #eaeaea;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;

}

.producer:nth-child(4n) {
  margin-right: 0;
}
/* Раздел сервисы компании */

.services {
  width: 100%;
  background-color: #f4f7f9;
}
.services h2 {
  margin-top: 68px;
  margin-bottom: 38px;
}

.services p,
.about-company p,
.main-contacts p,
.category-info p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.services h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.services-block {
  display: flex;
}

.services-list {
  margin: 0;
  padding: 0;
  margin-top: 55px;
  margin-bottom: 100px;
  margin-right: 80px;
  list-style: none;

}

.services-list button {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  width: 240px;
  height: 60px;

}

.services-list button:hover,
.services-list button:focus {
  background-color: #293449;
}

.services-list button:active {
  color: #32425c;
  background-color: #ffffff;
  transform: translateZ(0);
}

.setvices-items {
  margin-top: 55px;
}
/* Информация о компании и контакты */

.company-info {
  width: 940px;
  min-height: 536px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*.about-company {
  width: 580px;
  margin-top: 82px;
}

.about-company h2,
.about-company p {
  margin: 0;
  padding: 0;
}
.about-company h2 {
  margin-bottom: 37px;
}
.about-company p:first-of-type {
  margin-bottom: 35px;
}*/

.about-company ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-company li {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.main-contacts {


}

/* Подвал сайта*/

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top {
  width: 100%;
  min-height: 68px;
  background-color: #32425c;
}

.footer-middle {
  width: 100%;
  background-color: #32425c;
}
.footer-top ul,
.footer-middle ul {
  margin: 0;
  padding: 0;
}

.footer-bottom {
  width: 100%;
  min-height: 107px;
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
}

.footer-nav-white {
  list-style: none;
}

.footer-nav-white a,
.footer-middle p,
.footer-middle a {
  font-size: 18px;
  line-height: 24px;
  color: inherit;
}

.footer-nav-white a:hover,
.footer-nav-white a:focus {
  text-decoration: underline;
}

.footer-nav-white a:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.footer-nav-yellow {
  list-style: none;
}

.footer-nav-yellow a {
  color: #ffda96;
}

.footer-nav-yellow a:hover,
.footer-nav-yellow a:focus {
  text-decoration: underline;
}

.footer-nav-yellow a:active {
  text-decoration: none;
  color: #ffda96;
  opacity: 0.5;
}

.footer-email,
.footer-developer {
  color: #ffda96;
}

.footer-email:hover,
.footer-email:focus,
.footer-developer:hover,
.footer-developer:focus {
  text-decoration: underline;
}

.footer-email:active,
.footer-developer:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-social a {
  background-color: #212a3a;
  border-radius: 50%;
  color: inherit;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
  background-color: #ee3643;
}


/*Модальные окна*/

.modal-feedback {
  border-top: 7px solid #ff5357;
}

.feedback-form label {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.feedback-form input,
.feedback-form textarea {
  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.modal-add-to-cart {
  border-top: 7px solid #ff5357;
}

.modal-add-to-cart p {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.modal-buttons {
  background-color: #f1f1f1;
}

.modal-buttons button {
  font-size: 14px;
  line-height: 18px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
}

/* Страница Каталог */

/* Хлебные Крошки */

.breadcrumbs a,
.breadcrumbs-current,
.pagination-list a {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

/* Заголовок Каталога */

.h2-catalog {
  color: #32425c;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

/* Раздел фильтров и сотрировки */

.filters {
  width: 220px;
  margin-right: 20px;
}

.filters,
.sort,
.sort a,
.filter-button {
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.filters h3,
.sort p,
.sort a,
.filter-button {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.min-value input,
.max-value input {
  font-size: 17px;
  line-height: 18px;
  background-color: #f7f3ec;
  border: none;

}

.price-legend,
.producers-legend,
.charging-legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter-option label {
  font-size: 15px;
  line-height: 20px;
}

.red a {
  color: #ee3643;
}

.underline a {
  border-bottom: 1px dotted #ee3643;
  color: rgba(0, 0, 0, 0.3);
}

.red a:hover,
.red a:focus,
.underline a:hover,
.underline a:focus {
  color: #000000;
  border-bottom: 1px dotted #ee3643;
}

.red a:active,
.underline a:active {
  color: #ee3643;
  border: none;
}

/* Каталог товаров на странице Каталог */

.catalog-list {
  width: 710px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-list .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-catalog {
  width: 700px;
}
.catalog-columns {
  display: flex;
  flex-direction: space-around;
  margin-bottom: 32px;
}

.hidden {
  display: none;
}

/* Клавиши Купить и В Закладки на карточке товара в каталоге */

.buy {
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;
  background-color: #63a63e;
  border: 1px solid #63a63e;
  border-radius: 3px;
  border-bottom: 3px solid #367315;
  cursor: pointer;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
  border: 1px solid #5fbb2d;
  border-bottom: 3px solid #367315;
}

.buy:active {
  background-color: #518534;
  border: none;
}

.favorite {
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-radius: 3px;
  cursor: pointer;
}

.favorite:hover,
.favorite:focus {
  border: 3px solid #32425c;
}

.favorite:active {
  opacity: 0.3;
}

/* Номера страниц*/

.pagination-list {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.pagination-item a {
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active{
  border: 1px solid #ee3744;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
}

/*Информация о категории*/

.category-info {
  background-color: #f2f6f8;
}
.category-info h2,
.category-info p {
  margin: 0;
  padding: 0;
}








