body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', 'PT Sans', sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ffffff;

}
a {
  text-decoration: none;
}
.main-header {
  background-color: rgb(243, 247, 248);

}
.header-top {
  line-height: 18px;
  text-transform: none;
  background-color: #293449;
}
.header-top a {
  color: inherit;
}
.search:hover{
  background-color: #212a3a;
}
/*Эффект с исчезновением слова Поиск доделаю, когда буду знать как*/
.search:active{
  background-color: #ffffff;
}
.header-favorite:active,
.header-cart:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}
.header-order {
  background-color: #63a63e;
}
.header-order:hover {
  background-color: #5fbb2d;
}
.header-order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}
h1 {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  text-transform: none;
}

.contacts .phone-number a {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}
.contacts .adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  text-transform: none;
}
.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-transform: none;
}
.user-navigation a:hover {
  color: #ee3643;
}
.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
  /*color: rgb(197, 197, 197);*/
}
.main-navigation {
  background-color: #293449;
}
.user-navigation,
.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: inherit;
}
.site-navigation a:hover {
  background-color: #161d29;
}
.site-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.50)
}
.promo-materials {
  background-color: #ffbf47;
}
.promo-instruments {
  background-color: #3bbce3;
}
.promo-machines {
  background-color: #dc91d8;
}
.promo-discount {
  background-color: #8ed78f;
}
.promo-delivery {
  background-color: #ffc047;
}
.promo span {
  font-size: 24px;
  line-height: 30px;
  font-style: bold;
  text-transform: none;
}
.promo a {
  font-size: 14px;
  line-height: 18px;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.1);
}
.promo a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.promo a:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.button {
  font-size: 14px;
  line-height: 17px;
  color: inherit;
  text-align: center;
  background-color: #ee3643;
  border-radius: 2px; /*проверить*/
}
.button:hover {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2732;
}
.slide h3 {
  font-size: 36px;
  line-height: 36px;
  font-style: bold;
}
.slide span {
  font-size: 18px;
  line-height: 24px;
}
.slider {
  background-color: #685c53; /* На тот случай, если картинки не загрузятся*/
}





